body {
    font-family: Source Sans Pro, sans-serif;
    background-image: url("assets/Object.png");
    background-size: cover;
    width: 1440px;
    height: 1093px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

.section-1 {

}